*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}
body{
    background-image: url(fondo.jpg);
    background-repeat: no-repeat;
  
}
.box{
    border-radius: 20px;
    width: 400px;
    height: 610px;
    margin: auto;
    margin-top: 4rem;
    background-color: white;
    box-shadow: 10px 10px 40px;
}
.login{
    text-align: center;
    font-size: 2rem;
    padding: 1.25rem;
}
.form{
    border-radius: 20px;
    padding: 1.25rem;
    margin: 1.875rem;
    margin-top: 0rem;
    text-align: center;
    font-size: 1.25rem;
}
.forgot{
    font-size: 0.938rem;
}
.photo{
    width: 50px;
    height: 50px;
    margin: 0.625rem;
    box-sizing: border-box;
   
}
.imges{
    border-radius: 20px;
    padding: 1.25rem;
    margin: 1.875rem;
    text-align: center;
    font-size: 1.25rem;
}
.boton{
    background-color: rgb(218, 226, 226);
    width: 200px;
    height: 40px;
    font-size: 1.25rem;
    border-radius: 10px;
    border: none;
    
}
.inputs{
    width: 250px;
    height: 30px;
    border: none;
    border-bottom: 1px solid black;
}
.boton:hover{
    background-color:  rgb(193, 201, 201);
}

